.empty-list {
  list-style-type: none;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
  unicode-bidi: isolate;
}

.preview-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.captioned-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.float-left {
  float: left;
  margin-right: 1rem;
}

.float-right {
  float: right;
  margin-left: 1rem;
}

.bordered-container {
  border: 1px solid white;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-bottom: 1em;
}

.tab {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: normal;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  padding: 0.5em 1em;
  border: none;
  background: none;
}

.document-tab {
  font-size: medium;
  padding: 1em;
}


.project-link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 1em;
  /* padding-inline: 1em; */

  width: 100%;
  background: radial-gradient(circle,
      rgb(29, 30, 48) 0%,
      transparent 95%);
}

.back-to-top {
  padding: 0.5rem;
  border-radius: 4px;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  background: radial-gradient(circle,
      rgb(29, 30, 48) 0%,
      transparent 95%);
}

.hidden {
  display: none;
}

.caption {
  color: #929292ff;
  font-size: 13px;
}

.carousel {
  padding: 1em;
  background-color: #26284d;
  border-radius: 8px;
}

.clear {
  clear: both;
  margin-bottom: 1em;
}